<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/popup}">
<main layout:fragment="content" class="chat_room" th:object="${chatRoom}">
    <div class="room_nm" th:text="*{roomNm}"></div>
    <ul class="messages">

    </ul>
    <form name="frmChat" class="input_box">
        <input type="text" name="nickName" th:value="${session.member != null ? session.member.name : ''}" th:placeholder="#{닉네임}">
        <input type="text" name="message" th:placeholder="#{메세지_입력...}">
        <button type="submit" th:text="#{전송}"></button>
    </form>
</main>
</html>