<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:if="${pageTitle != null}" th:text="${pageTitle}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/common/css/style.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">

    <script th:src="@{/common/js/common.js}"></script>
    <script th:src="@{/admin/js/common.js}"></script>
</head>
<body>

</body>
</html>