<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/popup}">
<main layout:fragment="content" class="reservation_step2">
    <form name="frmStep1" method="post" th:action="@{/reservation/apply}" autocomplete="off" th:object="${requestReservation}">
        <h3 th:text="#{방문시간_선택}"></h3>

        <ul class="select_time">
            <li th:each="aTime, status : ${availableTimes}">
                <input type="radio" name="time" th:value="${aTime.toString()}" th:field="*{time}" th:id="${'time_' + status.index}" class="select_time"
                       th:data-c-code="*{cCode}"
                       th:data-date="*{date.toString()}">
                <label th:for="${'time_' + status.index}" th:text="${aTime.toString()}"></label>
            </li>
        </ul>
        <div class="error" th:each="err : ${#fields.errors('time')}" th:text="${err}"></div>
        <br><br>

        <h3 th:text="#{방문인원_선택}"></h3>

        <select name="persons" id="select_person">
            <option value="0" th:text="#{선택하세요}"></option>
        </select>


        <div class="error" th:each="err : ${#fields.errors('persons')}" th:text="${err}"></div>

        <h3 th:text="#{방문자_정보}"></h3>
        <dl>
            <dt th:text="#{예약자명}"></dt>
            <dd></dd>
        </dl>
        <dl>
            <dt th:text="#{전화번호}"></dt>
            <dd>
                <input type="text" name="donorTel" th:field="*{donorTel}">
                <div class="error" th:each="err : ${#fields.errors('donorTel')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text="#{헌혈_타입}"></dt>
            <dd>
                <th:block th:each="type, status : ${donationTypes}">
                    <input type="radio" name="bookType" th:value="${type[0]}" th:id="${'bookType_' + status.index}" th:field="*{bookType}">
                    <label th:for="${'bookType_' + status.index}" th:text="${type[1]}"></label>
                </th:block>
                <div class="error" th:each="err : ${#fields.errors('bookType')}" th:text="${err}"></div>
            </dd>
        </dl>
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
        <button type="submit" th:text="#{예약하기}"></button>

    </form>
</main>
</html>