<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main}">
<section layout:fragment="content">
    <h1>예약자 리스트</h1>
    <h2>예약자 조회</h2>
    <form name="frmSearch" method = "get" th:action="@{/admin/reservation}" autocomplete="off"
          th:object="${reservationSearch}">
        <table class = "table_cols mb30">
            <tr>
                <th>키워드</th>
                <td>
                    <div class="input_grp">
                        <select name="sopt">
                            <option value = "ALL">통합검색</option>
                            <option value = "memberSeq">회원번호</option>
                            <option value = "userId">예약자 ID</option>
                            <option value = "bookCode">예약코드</option>
                        </select>
                        <input type="text">
                    </div>
                </td>
            </tr>
        </table>
        <div class="search_btn">
            <button type="submit" class="btn">검색하기</button>
        </div>
    </form>

    <h2>예약자 목록</h2>
    여기에서 예약변경 란에 수정하기/삭제하기 버튼 만들기
    <form name="frmList" method="post" th:action="@{/admin/reservation}" target="ifrmProcess" autocomplete="off">
        <table class="table_rows">
            <thead>
            <tr>
                <th width="150">예약 코드</th>
                <th width="150">예약자 이름</th>
                <th width="250">예약 날짜</th>
                <th width="250">예약자 연락처</th>
                <th width="120">헌혈 종류</th>
                <th width="120">예약한 센터</th>
                <th width="200">예약 변겅</th>

            </tr>
            </thead>
            <tbody>
            <tr th:if="${items == null || items.isEmpty()}">
                <td colspan="6" class="no_data">조회된 예약자가 없습니다.</td>
            </tr>
            <tr th:unless="${items == null || items.isEmpty()}" th:each="item, status : ${items}" th:object="${item}">
                <td th:text="*{bookCode}" align="center"></td>
                <td></td>
                <td th:text="*{bookDateTime}" align="center"></td>
                <td th:text="*{donorTel}" align="center"></td>
                <td th:text="*{bookType}" align="center"></td>
                <td th:text="*{center.cName}" align="center"></td>
                <td>

                </td>

            </tr>
            </tbody>
        </table>

    </form>
</section>
</html>