main { display: flex; }
main > aside { width: 250px; background: #d5d5d5; min-height: 700px; }
main > aside a { height: 50px; display: block; text-align: center; line-height: 50px; }
main > section { flex-grow: 1; padding: 45px; }
main > section h1 { line-height: 1; margin-bottom: 25px; font-size: 1.5rem; }


/* 찜 게시글 목록 */
.save_post_page .items li { border: 1px solid #d5d5d5; border-radius: 5px; }
.save_post_page .items li + li { margin-top: 10px; }
.save_post_page .subject { padding: 10px 15px; cursor: pointer; }
.save_post_page .content { margin-top: 10px; transition: all 0.5s; min-height: 300px;}
.save_post_page .content > div { background: #f8f8f8; padding: 15px; border-radius: 5px; }
.save_post_page .content.hide { transition: all 0.5s; }