@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box; outline: none; }
html { font-size: 13px; }
body { margin: 0; }
a { text-decoration: none; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
img { border: 0; }

/* 헤더 영역 S */
header { display: flex; justify-content: space-between; height: 80px; align-items: center; }
header > section:first-of-type { width: 208px; text-align: center; }

/* 헤더 영역 E */